@font-face {
	font-family: "Roboto", sans-serif;
	src: url(assets/fonts/Roboto-Light.ttf);
}

@font-face {
	font-family: "Roboto-Bold", sans-serif;
	src: url(assets/fonts/Roboto-Bold.ttf);
}

* {
	font-size: normal;
	font-weight: normal;
	margin: 0 auto;
}

body {
	font-size: 10px;
	margin: 0 auto;
	width: 1200px;
	font-family: "Roboto", sans-serif;

}

.header {
	background-color: rgb(14, 26, 53);
}

.wrapper {
	max-width: 1200px;
	margin: 0 auto;
	width: 100%;
	box-sizing: border-box;
}

.header__content {
	padding-top: 5.2vh;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.logo {
	display: flex;
	align-items: center;
}

.logo__pic {
	margin: 0 0.6vw 0 6.45vw;
	width: 40px;
}

.logo__name {
	color: #fefefe;
	font-size: 25px;
	font-weight: 500;
}

.header__nav-bar {
	width: 80%;
	display: flex;
	align-items: center;
}

.navigation {
	display: flex;
	list-style-type: none;
	font-size: 12px;
	margin-left: 110%;
}

.navigation li a {
	margin-right: 3.7vh;
	color: #ffffff;
	text-decoration: none;
}

.nav__link:hover {
	color: rgb(85,132,255);
}

.button {
	width: 90px;
	height: 30px;
	border-radius: 3em;
	font-size: 1.2em;
	cursor: pointer;
	outline: none;
}

.button_login {
	background-color: rgba(85, 132, 255, 0);
	border: 1px solid rgb(85, 132, 255);
	color: rgb(85, 132, 255);
	margin-right: 6vw;
}

.button_login:hover {
	border: 2px solid rgb(85, 132, 255);
	font-weight: 700;
	transition: 0.1s ease;
}

.graph {
	background-color: rgb(14, 26, 53);
	background: #0e1a35  url("assets/img/grid.png") no-repeat;
	background-size: 100%;
	background-position-y: -35%;
	height: 76vh;
}

.container{
	text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.heading {
	margin-bottom: 1vh;
	font-size: 3.6em;
	font-weight: 200;
}

.graph__heading {
	color: rgb(255, 255, 255);
	margin-top: 2.2em;
}

.label	{
	font-size: 1.6em;
	font-weight: 400;
}

.graph__label {
	color: rgba(132, 146, 175, 255);
	font-size: 21px;
    font-weight: 500;
}

.button_get-started {
	background-color: rgba(85, 132, 255, 255);
	color: rgb(255, 255, 255);
	border: 1px solid rgb(85, 132, 255);
	width: 120px;
	font-weight: bold;
	margin: 4em;
	transition: 0.3s;
}

.button_get-started:hover {
	box-shadow: 0 0 5px rgba(85, 132, 255, 255);
}

.image {
	box-shadow: 0 -15px 50px -23px #274994;
}

.graph__image {
	margin-top: 0.5vh;
	width: 44%;
}

.rectangle {
	width: 48px;
	margin: 0.7vh 0 0 1.1vw;
	margin-bottom: 3.8vh;
}

.graphic {
	width: 56px;
	margin-bottom: 3.6vh;
}
.calendar {
	width: 50px;
	margin-bottom: 3.8vh;
}

.browser {
	height: 120.7vh;
}

.capabilities-layout {
	display: flex;
	margin-top: 13%;
}

.column {
	flex-direction: column;
	align-items: center;
	width: 300px;
	justify-content: space-between;
}

.browser__heading {
	font-weight: bold;
	font-size: 15px;
}

.browser__label {
	font-size: 12px;
	color: #8492af;
	margin: 1.8vh 1.3vw;
    line-height: 2.2vh;
}

.browser__button {
	background-color: rgba(85,132,255,0);
	border: 1px solid rgba(132,146,175,0.3);
	color: #0e1a35;
	width: 150px;
	font-weight: bold;
	margin-top: 2vh;
}

.browser__button:hover {
	border: 2px solid rgb(132, 146, 175);
	transition: 0.1s ease;
}

.gradient {
	height: 7vh;
	background: linear-gradient(white, #f6f7fa);
}

.needs {
	margin-top: 10.5vh;
	padding-bottom: 6vh;
	background-color: #f6f7fa;
}

.needs-layout {
	display: flex;
	text-align: left;
	margin-left: 10.8vw;
}

.needs-layout__column .heading {
	margin: 5.2vh 0 3vh;
}

.needs-layout__column .browser__label {
	margin: 0 4vw 2.6vh 0;
}

.needs-layout__check-box-layout {
	display: grid;
	grid-template-columns: 1fr 14fr;
	align-items: center;
	grid-gap: 2.4vh 0;
	margin-top: 5vh;
}

.check-box {
	width: 18px;
}

.browser__label-checked {
	color: #5584ff;
	text-align: left;
	font-size: 13px;
	margin: 0;
}

.tablet {
	width: 628px;
}

.drag-drop {
	background-color: rgb(14, 26, 53);
	background: #0e1a35  url("assets/img/grid.png") no-repeat;
	background-size: 100%;
	background-position-y: -24%;
	height: 64.5vh;
}

.drag-drop-layout {
	display: flex;
	padding-top: 12.5vh;
}

.drag-drop-layout__column-1 {
	width: 57.5%;
	margin: auto 0;
}

.column__layout {
	display: flex;
	margin-left: 6vw;
	flex-direction: column;
}

.column__layout-row {
	display: flex;
}

.drag-drop__label {
	color: rgb(255, 255, 255);
	font-size: 18px;
}

 span .graph__label {
	font-size: 19px;
}

.arrow {
	width: 8px;
	margin-right: 2vw;
}

.drag-drop__image {
	width: 234px;
	margin: 2vh 2vw 1vh 0;
}

.drag-drop__image_dropped {
	margin-left: 1vw;
}

.drop {
	margin: 1vh 3.6vw;
}

.drag-drop__heading {
	color: rgb(255, 255, 255);
	margin-top: 4vh;
}

.drag-drop__label_col-2 {
	font-size: 12px;
	color: #8492af;
	line-height: 2.6vh;
    margin-top: 2.4vh;
}

.drag-drop-layout__text {
	width: 70%;
}

.btn__arrows {
	margin: 3.4vh 0.2vw 0 0.4vw;
	width: 22px;
	cursor: pointer;
}

.psd {
	height: 165vh;
}

.psd__template {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0 auto;
	background-color: #f6f7fa;
}

.template__text-block {
	margin: 7.1vh 0 6vh;
	width: 56%;
    text-align: center;
}

.psd__label {
	font-size: 12px;
	color: #8492af;
	line-height: 2.6vh;
	margin-top: 3vh;
}

.psd__template-image {
	width: 69.5%;
}
.gradient-reversed {
	margin-bottom: 2.4vh;
	height: 7vh;
	background: linear-gradient(#f6f7fa, white);
}

.psd__pricing {
	text-align: center;
}

.plans {
	display: flex;
	justify-content: space-between;
	width: 75%;
	margin: 7vh auto;
}

.plans__price-block {
	box-shadow: 0px 0px 25px lightgrey;
	width: 24%;
    height: 33.3vh;
}

.plans__name {
	font-weight: 500;
	font-size: 16px;
	text-transform: uppercase;
	color: #0e1a35;
	margin: 3vh 0 2.8vh;
}

.plans__label {
	font-size: 14px;
	color: #8492af;
}

.plans__usd {
	font-size: 24px;
	font-weight: 900;
}

.plans__price {
	font-size: 44px;
	font-weight: 900;
	color: #0e1a35;
	margin-bottom: 3vh;
}

.price-block__options {
	display: grid;
	grid-template-columns: 1fr 5fr;
	grid-row-gap: 9px;
	width: 77%;
}

.check-box_inner {
	width: 15px;
}

.price-block__label {
	font-size: 12px;
	color: #5584ff;
}

.psd__text-block {
	margin: 5.3vh auto ;
	width: 50%;
}

.line {
	width: 10vw;
}

.button_join-now {
	background-color: rgba(85, 132, 255, 255);
	color: rgb(255, 255, 255);
	border: 1px solid rgb(85, 132, 255);
	width: 120px;
	font-weight: bold;
	transition: 0.3s;
	margin: 0 2vw 0 2vw;
}

.button_join-now:hover {
	box-shadow: 0 0 5px rgba(85, 132, 255, 255);
}

.footer {
	height: 90px;
	background-color: rgb(14, 26, 53);
	margin: 0;
}

.footer__content {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
}

.footer__label-copyright {
	color: rgb(131, 145, 175);
	font-size: 12px;
}

.footer__navigation {

}

.footer__navigation-bar {
	list-style-type: none;
	display: flex;
}

.footer__link {
	color: rgb(131, 145, 175);
	text-decoration: none;
	font-size: 1.2em;
	margin-right: 2vw;
}

.footer__link:hover {
	color: #ffffff;
}

.social {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-gap: 0.5vw;
}

.facebook {
	width: 7px;
}

.twitter {
	width: 12px;
}

.google {
	width: 12px;
}